.partner-header {
  /* border: 2px solid green; */
  width: 40%;
  /* border-radius: 40px; */
  color: white;
  background-color: rgb(70, 46, 180);
}
.partner img {
  height: 140px;
  width: 240px;
}
